<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{municipio.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{municipio.list.headline}]]</h1>
        <div>
            <a th:href="@{/municipios/add}" class="btn btn-primary ms-2">[[#{municipio.list.createNew}]]</a>
        </div>
    </div>
    <div th:if="${municipios.empty}">[[#{municipio.list.empty}]]</div>
    <div th:if="${!municipios.empty}" class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">[[#{municipio.id.label}]]</th>
                <th scope="col">[[#{municipio.municipio.label}]]</th>
                <th scope="col">[[#{municipio.uf.label}]]</th>
                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="municipio : ${municipios}">
                <td>[[${municipio.id}]]</td>
                <td>[[${municipio.municipio}]]</td>
                <td>
                    <span th:if="${municipio.uf}"
                          th:text="|${municipio.uf.name} - ${municipio.uf.uf}|"></span>
                </td>
                <td>
                    <div class="float-end text-nowrap">
                        <a th:href="@{/municipios/edit/{id}(id=${municipio.id})}" class="btn btn-sm btn-secondary">[[#{municipio.list.edit}]]</a>
                        <form th:action="@{/municipios/delete/{id}(id=${municipio.id})}"
                              th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-secondary">[[#{municipio.list.delete}]]</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
